<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.NETWORK_SETTINGS" />
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.camera" />



    <application
        android:name="com.codegear.mariamc_rfid.application.Application"
        android:allowBackup="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:appComponentFactory"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <profileable android:shell="true"/>

        <!-- 카우크로니클 시작 액티비티 : UserLoginActivity -->
        <activity
            android:name=".cowchronicle.ui.activities.UserLoginActivity"
            android:configChanges="keyboardHidden|screenSize|fontScale"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카우크로니클 설정용 액티비티 : DeviceDiscoverActivity -->
        <activity
            android:name="com.codegear.mariamc_rfid.DeviceDiscoverActivity"
            android:configChanges="keyboardHidden|screenSize|fontScale"
            android:exported="true"
            android:label="@string/app_setting_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- 카우크로니클 사용자 페이지 -->
        <activity
            android:name=".cowchronicle.ui.activities.CowChronicleActivity"
            android:configChanges="keyboardHidden|screenSize|fontScale"
            android:exported="true"
            android:label="Cow Tag"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>


        <activity
            android:name="com.codegear.mariamc_rfid.ManageDeviceActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.NavigationHelpActivity"
            android:label="@string/title_activity_navigation_help"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.codegear.mariamc_rfid.rfidreader.settings.SettingsDetailActivity"
            android:label="@string/title_activity_settings_detail"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ScannerHomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/scanner_title"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeLight.NoActionBar" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.PairNewScannerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pairing_barcode_title"
            android:launchMode="singleTask"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scanners"
            android:launchMode="singleTask"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape"
            />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scanner_configurations"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_notifications"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.SettingsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.BaseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_base"
            />

        <activity
            android:name="com.codegear.mariamc_rfid.ActiveDeviceActivity"
            android:configChanges="orientation|screenSize|fontScale"
            android:exported="true"
            android:label="@string/title_activity_active_scanner"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ActiveDeviceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_active_scanner"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="activities.ActiveScannerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.BeeperActionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.LEDActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.SymbologiesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.BeeperSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.AvailableScannerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_available_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.VibrationFeedback"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.BatteryStatistics"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.SupportedScanners"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_supported_scanners"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.PairingInstructionsAll"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_pairing_instructions_all"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.PairingInstructionsRFD8500"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_pairing_instructions_rfd8500"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ConnectionHelpActivity2" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.FindCabledScanner"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_find_cabled_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ScannersActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.SampleBarcodes"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.SsaSetSymbologyActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:noHistory="true"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ScanSpeedAnalyticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.IntelligentImageCaptureActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.ScaleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegear.mariamc_rfid.scanner.activities.ActiveScannerActivity" />
        </activity>

        <activity
            android:name="com.codegear.mariamc_rfid.scanner.activities.DecodeImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- 서비스 & 리시버 -->
        <service
            android:name="com.codegear.mariamc_rfid.rfidreader.notifications.NotificationsService"
            android:exported="false" />

        <receiver
            android:name="com.codegear.mariamc_rfid.rfidreader.notifications.NotificationsReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <!-- Actions to be handled in the background should be registered here -->
                <action android:name="com.rfidreader.battery.low" />
                <action android:name="com.rfidreader.battery.critical" />
                <action android:name="com.rfidreader.battery.charging" />
                <action android:name="com.rfidreader.disconnected" />
                <action android:name="com.rfidreader.connected" />
                <action android:name="com.rfidreader.available" />
                <action android:name="com.rfidreader.status.received" />
                <action android:name="com.rfidreader.conn.failed" />
                <action android:name="com.rfidreader.NFC.outofrange" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.codegear.mariamc_rfid.scanner.receivers.NotificationsReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <!-- Actions to be handled should be registered here -->
                <action android:name="com.zebra.scannercontrol.connected" />
                <action android:name="com.zebra.scannercontrol.disconnected" />
                <action android:name="com.zebra.scannercontrol.available" />
                <action android:name="com.zebra.scannercontrol.conn.failed" />
                <action android:name="com.zebra.scannercontrol.barcode.received" />
                <action android:name="com.zebra.scannercontrol.image.received" />
                <action android:name="com.zebra.scannercontrol.video.received" />
            </intent-filter>
        </receiver>
    </application>

</manifest>